.table-container {
    margin-top: 20px;
}

.table-wrapper {
    max-height: 70vh;
    overflow-y: auto;
    border-radius: 8px;
}

    .table-wrapper thead th {
        position: sticky;
        top: 0;
        background: #212529;
        color: white;
        z-index: 2;
    }

    .table-wrapper tbody tr:hover {
        background: #f1f5f9;
    }

.score-title {
    margin-bottom: 15px;
}

.table-wrapper table {
    font-size: 14px;
}

@media (max-width: 576px) {
    .table-wrapper table {
        font-size: 10.5px;
    }

    .table-wrapper thead th,
    .table-wrapper tbody td {
        padding: 6px 6px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .table-wrapper table {
        font-size: 12px;
    }
}
